<style>
    .calendar {
      display: inline-block;
      border: 1px solid #ccc;
      padding: 10px;
    }


    .md-mobile-picker-header {
        font-size: 14px;
    }

    input.md-mobile-picker-input {
        color: initial;
        width: 100%;
        padding: 10px;
        margin: 6px 0 12px 0;
        border-radius: 0;
        font-family: arial, verdana, sans-serif;
        font-size: 14px;
        box-sizing: border-box;
        -webkit-appearance: none;
    }

    .md-mobile-picker-button.mbsc-button {
        font-size: 13px;
        padding: 0 15px;
        line-height: 36px;
        float: right;
        margin: 6px 0;
        width: 100%;
    }

    .mbsc-col-no-padding {
        padding-left: 0;
    }

    .md-mobile-picker-box-label.mbsc-textfield-wrapper-box,
    .md-mobile-picker-box-label .mbsc-textfield-wrapper-box,
    .md-mobile-picker-inline {
        margin: 6px 0 12px 0;
    }

    .mbsc-ios.mbsc-page {
        background: #ffffff;
        color: #000;
    }

    .mbsc-ios.mbsc-datepicker-inline {
        border-bottom: 0px solid;
        border-top: 0px solid;
    }

    #ui-datepicker-div {
        z-index: 999!important;
    }
    .ui-datepicker-header.ui-widget-header.ui-helper-clearfix.ui-corner-all {
        background: #fff;
    }
    .ui-datepicker th {
        color: #3f43c8;
        font-weight: bold;
    }
    a.ui-state-default {
        color: #1a1c5e!important;
    }
    .ui-state-highlight, .ui-widget-content .ui-state-highlight {
        border: 1px solid #3d41c7!important;
        background: #fff!important;
        color: #3d41c7;
        text-align: center;

    }
    .ui-state-default{
        border: 1px solid #ffffff!important;
        background: #ffffff!important;
        font-weight: normal!important;
        color: #454545!important;
        border-radius: 100%!important;
        text-align: center!important;
    }
    .ui-widget.ui-widget-content {
        border: 1px solid #ffffff!important;
        box-shadow: 0 0 21px -15px black;
        border-radius: 14px;
    }
    .ui-datepicker-inline.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all {
        width: 335px;
        padding: 16px 16px;
    }
    .ui-datepicker td {
        padding: 4px 0!important;
        width: 39px!important;
    }
    .ui-datepicker td  a{
        margin: 0 7px;
    }

    .ui-state-active, .ui-widget-content .ui-state-active{
        background: #3d41c7!important;
        color: #fff!important;
    }
</style>


<div class="vg-body-content">
    <div class="row mb row-dash">
        <div class="col-md-7 left-dash">
            <div class="vg-section-title ttl-wraper">
                <h2 class="vg-title">Tableau de bord</h2>
            </div>
            <div class="vg-grid">
                <div class="grid-col">
                    <div class="content-grid">
                        <div id="Group_427319782">
                            <svg class="Ellipse_1936">
                                <ellipse id="Ellipse_1936" rx="27" ry="27.5" cx="27.5" cy="27">
                                </ellipse>
                            </svg>
                            <div id="Frame_ct">
                                <svg class="Frame_cu">
                                    <rect id="Frame_cu" rx="0" ry="0" x="0" y="0" width="29" height="29">
                                    </rect>
                                </svg>
                                <svg class="Vector_cv" viewBox="0 0 22.722 22.722">
                                    <path id="Vector_cv"
                                        d="M 22.70888519287109 17.16435623168945 C 22.50630950927734 18.70384407043457 21.75025939941406 20.11694717407227 20.58194923400879 21.13973236083984 C 19.41363906860352 22.16252517700195 17.91297340393066 22.72506332397461 16.36021614074707 22.72228240966797 C 7.339378833770752 22.72228240966797 8.507991879014298e-06 15.38291263580322 8.507991879014298e-06 6.362075805664062 C -0.002772727282717824 4.809319496154785 0.5597638487815857 3.308652400970459 1.582558631896973 2.140342712402344 C 2.605353116989136 0.9720331430435181 4.018456935882568 0.2159826010465622 5.557934284210205 0.01340677496045828 C 5.947234630584717 -0.03412871435284615 6.341461181640625 0.04551822319626808 6.681771278381348 0.2404500842094421 C 7.022081851959229 0.4353819489479065 7.290225505828857 0.7351464033126831 7.446174144744873 1.094998121261597 L 9.845671653747559 6.45182991027832 L 9.845671653747559 6.465463638305664 C 9.965065002441406 6.740923881530762 10.01437282562256 7.041660785675049 9.98919677734375 7.34082555770874 C 9.964019775390625 7.639990329742432 9.865140914916992 7.928256511688232 9.701383590698242 8.179876327514648 C 9.680933952331543 8.210551261901855 9.659347534179688 8.238954544067383 9.636625289916992 8.26735782623291 L 7.271211624145508 11.07131576538086 C 8.122169494628906 12.80049800872803 9.930881500244141 14.59330463409424 11.68278694152832 15.44653415679932 L 14.44811630249023 13.09361839294434 C 14.47527408599854 13.07078647613525 14.50372314453125 13.04954624176025 14.5333251953125 13.02999496459961 C 14.78474617004395 12.86230373382568 15.07400321960449 12.75994300842285 15.37493133544922 12.73217582702637 C 15.67586040496826 12.70440006256104 15.97896766662598 12.75209903717041 16.25682830810547 12.87093734741211 L 16.27159690856934 12.87775421142578 L 21.6238842010498 15.27611541748047 C 21.98437309265137 15.43150043487549 22.28487396240234 15.69940757751465 22.48044204711914 16.03977394104004 C 22.67601776123047 16.3801383972168 22.75615692138672 16.7746639251709 22.70888519287109 17.16435623168945 Z M 13.89972305297852 8.822559356689453 C 13.72926712036133 8.652104377746582 13.63351535797119 8.420926094055176 13.63351535797119 8.179866790771484 L 13.63351535797119 3.635365009307861 C 13.63351535797119 3.394306659698486 13.72927665710449 3.163127899169922 13.89972305297852 2.992672681808472 C 14.07017803192139 2.822217464447021 14.30135631561279 2.726464748382568 14.54241466522217 2.726464748382568 C 14.78347396850586 2.726464748382568 15.01465129852295 2.822226524353027 15.18510723114014 2.992672681808472 C 15.35556221008301 3.163127899169922 15.45131492614746 3.394306659698486 15.45131492614746 3.635365009307861 L 15.45131492614746 5.986009120941162 L 19.35276985168457 2.083418130874634 C 19.5233154296875 1.912872195243835 19.75463104248047 1.817055821418762 19.99581718444824 1.817055821418762 C 20.23700332641602 1.817055821418762 20.46831703186035 1.912872195243835 20.63886451721191 2.083418130874634 C 20.80941009521484 2.253964185714722 20.90522766113281 2.485279560089111 20.90522766113281 2.726465225219727 C 20.90522766113281 2.967650890350342 20.80941200256348 3.198966264724731 20.63886451721191 3.36951208114624 L 16.7374095916748 7.270967483520508 L 19.08691787719727 7.270967483520508 C 19.32797813415527 7.270967483520508 19.55915451049805 7.366728782653809 19.72961044311523 7.537175178527832 C 19.90006637573242 7.707630634307861 19.99581909179688 7.938808917999268 19.99581909179688 8.179867744445801 C 19.99581909179688 8.420926094055176 19.90005683898926 8.652105331420898 19.72961044311523 8.82256031036377 C 19.55915451049805 8.993016242980957 19.32797622680664 9.088768005371094 19.08691787719727 9.088768005371094 L 14.5424165725708 9.088768005371094 C 14.30135822296143 9.088768005371094 14.0701789855957 8.993006706237793 13.89972400665283 8.82256031036377 Z">
                                    </path>
                                </svg>
                                <div id="appelentrant">
                                    <svg class="Trac_40" viewBox="11.47 10.456 26.334 26.333">
                                        <path id="Trac_40"
                                            d="M 31.34945678710938 36.78878021240234 C 29.60005760192871 36.72153472900391 27.88703536987305 36.2691764831543 26.3325138092041 35.46395874023438 C 21.10201263427734 32.96913146972656 16.7138786315918 29.00119400024414 13.70691204071045 24.0473518371582 C 12.1649055480957 21.48457717895508 11.4554386138916 19.29826354980469 11.46991729736328 17.17710304260254 C 11.46991729736328 14.28132152557373 13.07707595825195 11.70407676696777 15.40093994140625 10.7412281036377 C 16.0396842956543 10.44678497314453 16.75945663452148 10.37787055969238 17.44246673583984 10.54576301574707 C 17.90052604675293 10.69933891296387 18.32196426391602 10.94579410552979 18.6804141998291 11.26970863342285 C 19.7735710144043 12.15292167663574 20.85224914550781 13.10852909088135 21.84405326843262 14.09309577941895 C 22.49136543273926 14.65058898925781 22.97024154663086 15.37767696380615 23.2267894744873 16.19253540039062 C 23.75527000427246 18.36437225341797 21.77889823913574 20.00772857666016 20.80157279968262 20.78958892822266 L 20.72193717956543 20.85474395751953 C 22.0924072265625 22.83417129516602 23.76305770874023 24.58786392211914 25.6737232208252 26.05267333984375 L 26.10809326171875 26.40740585327148 C 26.54969787597656 26.76937866210938 27.22296905517578 27.32681655883789 27.51978492736816 27.21098709106445 C 27.89788436889648 27.01702880859375 28.24845886230469 26.7735710144043 28.56226921081543 26.48704147338867 C 29.09471130371094 26.02198028564453 29.69846534729004 25.64554977416992 30.35041427612305 25.37216186523438 C 30.74284744262695 25.20502471923828 31.17129516601562 25.1402587890625 31.5955982208252 25.18394088745117 C 32.02717971801758 25.25788116455078 32.43308639526367 25.43966674804688 32.77563095092773 25.71241760253906 C 34.27182769775391 26.76958084106445 35.66985321044922 27.95923614501953 36.95279693603516 29.26700210571289 C 37.37861633300781 29.64881896972656 37.67259216308594 30.15567398071289 37.79256820678711 30.71488189697266 C 37.84421920776367 31.28318023681641 37.71500015258789 31.85327529907227 37.42335510253906 32.34375762939453 C 36.85688018798828 33.64427947998047 35.98524475097656 34.78907775878906 34.88230895996094 35.68114471435547 C 33.85197830200195 36.41571426391602 32.61474609375 36.80361557006836 31.34946060180664 36.78878402709961 Z M 16.7402400970459 12.62348651885986 C 16.56511688232422 12.63251399993896 16.39323425292969 12.67425727844238 16.23347663879395 12.74655723571777 C 14.72043132781982 13.376389503479 13.65623188018799 15.20073223114014 13.64175319671631 17.19158172607422 C 13.64175319671631 18.90009307861328 14.24262714385986 20.72443389892578 15.56744766235352 22.93246841430664 C 18.35575675964355 27.53388977050781 22.43024063110352 31.21829223632812 27.28812408447266 33.53103256225586 C 30.90785026550293 35.24677658081055 32.81182479858398 34.53007507324219 33.61540222167969 33.95092010498047 C 34.43224334716797 33.25797653198242 35.07456207275391 32.38254165649414 35.49042510986328 31.39539337158203 C 35.54413223266602 31.29177474975586 35.59245681762695 31.18545532226562 35.63521194458008 31.07685852050781 C 35.56509780883789 30.98166275024414 35.48763656616211 30.89210510253906 35.40354919433594 30.80899429321289 C 34.21297836303711 29.5909309387207 32.91419219970703 28.48357009887695 31.52320861816406 27.50056457519531 C 31.45483779907227 27.44651794433594 31.38220405578613 27.39809417724609 31.3060188293457 27.35577392578125 C 31.2365608215332 27.37110137939453 31.16869354248047 27.39291381835938 31.10331535339355 27.42092895507812 C 30.66727828979492 27.627685546875 30.2646484375 27.8985481262207 29.9088020324707 28.22451019287109 C 29.43341636657715 28.64445114135742 28.89623832702637 28.98873519897461 28.31612396240234 29.24526977539062 C 28.0357494354248 29.35984039306641 27.73578643798828 29.41884994506836 27.43290710449219 29.41901779174805 C 26.40883255004883 29.30079650878906 25.45599746704102 28.83587265014648 24.73259544372559 28.1014404296875 L 24.34890365600586 27.79738235473633 C 22.24673461914062 26.1835823059082 20.41196250915527 24.24864196777344 18.91207504272461 22.06373596191406 C 18.64631462097168 21.72436904907227 18.487548828125 21.31359481811523 18.45598983764648 20.88370895385742 C 18.48190879821777 20.17660522460938 18.8419017791748 19.52377700805664 19.42607307434082 19.12451553344727 C 21.10562896728516 17.7490234375 21.21422004699707 17.11919021606445 21.11286735534668 16.72101974487305 C 20.94363975524902 16.30550384521484 20.67221260070801 15.93945121765137 20.32376670837402 15.65682220458984 C 19.36816024780273 14.7156925201416 18.35463523864746 13.81076049804688 17.31215476989746 12.96374416351318 C 17.17062759399414 12.83651638031006 17.01229286193848 12.72933578491211 16.84159088134766 12.64520931243896 L 16.7402400970459 12.62348651885986 Z M 31.27706336975098 27.35577392578125 Z M 20.59886932373047 20.67375946044922 Z">
                                        </path>
                                    </svg>
                                    <svg class="Trac_41" viewBox="35.29 9.71 10.222 9.621">
                                        <path id="Trac_41"
                                            d="M 44.61441421508789 9.710000038146973 L 36.75960922241211 17.06528472900391 L 37.13606262207031 11.59949779510498 L 35.8401985168457 11.51262378692627 L 35.29000091552734 19.33123207092285 L 43.12308883666992 19.30227470397949 L 43.12308883666992 17.99917411804199 L 37.65006256103516 18.01365280151367 L 45.51210784912109 10.66560745239258 L 44.61441421508789 9.710000038146973 Z">
                                        </path>
                                    </svg>
                                </div>
                            </div>
                        </div>
                        <div class="grid-stat">
                            <label class="stat-dash" id="total_inbound_call">0</label>
                            <label for="">Biens</label>
                        </div>
                    </div>
                    <div class="button-grid">
                        <button onclick="see_inbound_dashboard()">VOIR PLUS</button>
                    </div>
                </div>

                <div class="grid-col">
                    <div class="content-grid"><div id="Group_427319782_dr">
                            <svg class="Ellipse_1936_ds">
                                <ellipse id="Ellipse_1936_ds" rx="27.5" ry="27.5" cx="27.5" cy="27.5">
                                </ellipse>
                            </svg>
                            <div id="Frame_dw">
                                <svg class="Frame_dx">
                                    <rect id="Frame_dx" rx="0" ry="0" x="0" y="0" width="29" height="29">
                                    </rect>
                                </svg>
                                <svg class="Vector_dy" viewBox="0 0 22.722 22.722">
                                    <path id="Vector_dy"
                                        d="M 13.89936828613281 8.822922706604004 C 13.81485843658447 8.738513946533203 13.74781799316406 8.638270378112793 13.70208263397217 8.52793025970459 C 13.65634632110596 8.41758918762207 13.63279628753662 8.299323081970215 13.63279628753662 8.179875373840332 C 13.63279628753662 8.060427665710449 13.65633678436279 7.942161560058594 13.70208263397217 7.831821441650391 C 13.74781799316406 7.721480846405029 13.81485843658447 7.621237754821777 13.89936828613281 7.536828517913818 L 17.80195808410645 3.63537335395813 L 15.45131492614746 3.63537335395813 C 15.21025562286377 3.63537335395813 14.97907829284668 3.539611577987671 14.80862331390381 3.369165420532227 C 14.63816738128662 3.198710203170776 14.54241466522217 2.967531442642212 14.54241466522217 2.726473093032837 C 14.54241466522217 2.485414505004883 14.63817691802979 2.254235744476318 14.80862331390381 2.083780527114868 C 14.97907829284668 1.913325309753418 15.2102575302124 1.817572593688965 15.45131492614746 1.817572593688965 L 19.99581718444824 1.817572593688965 C 20.23687553405762 1.817572593688965 20.46805381774902 1.913334369659424 20.63850975036621 2.083780527114868 C 20.80896377563477 2.254235744476318 20.90471649169922 2.485414505004883 20.90471649169922 2.726473093032837 L 20.90471649169922 7.270975112915039 C 20.90471649169922 7.512033939361572 20.80895614624023 7.743212223052979 20.63850975036621 7.913667678833008 C 20.46805381774902 8.084122657775879 20.23687362670898 8.179874420166016 19.99581718444824 8.179874420166016 C 19.75475883483887 8.179874420166016 19.52358055114746 8.084113121032715 19.35312461853027 7.913667678833008 C 19.18267059326172 7.743212223052979 19.08691596984863 7.512033939361572 19.08691596984863 7.270975112915039 L 19.08691596984863 4.920331478118896 L 15.18546199798584 8.822921752929688 C 15.10105228424072 8.907431602478027 15.00081062316895 8.974462509155273 14.89046955108643 9.020208358764648 C 14.78012847900391 9.065943717956543 14.66186237335205 9.089493751525879 14.54241466522217 9.089493751525879 C 14.42296695709229 9.089493751525879 14.30470085144043 9.065953254699707 14.19435977935791 9.020208358764648 C 14.08401966094971 8.974472045898438 13.98377704620361 8.907431602478027 13.8993673324585 8.822921752929688 Z M 21.62843132019043 15.27611541748047 C 21.98807334899902 15.4322452545166 22.2875919342041 15.70046329498291 22.48231506347656 16.04076385498047 C 22.67703819274902 16.38105583190918 22.75651168823242 16.77519226074219 22.70888710021973 17.16435432434082 C 22.50631141662598 18.70384216308594 21.75025939941406 20.11694526672363 20.58195114135742 21.13973236083984 C 19.41364097595215 22.16252517700195 17.91297340393066 22.72506332397461 16.3602180480957 22.72228240966797 C 7.339380741119385 22.72228240966797 1.04153405118268e-05 15.38291263580322 1.04153405118268e-05 6.362075805664062 C -0.002770819934085011 4.809319496154785 0.5597657561302185 3.308652400970459 1.582560539245605 2.140342712402344 C 2.605355024337769 0.9720331430435181 4.018458843231201 0.2159826010465622 5.557936191558838 0.01340677496045828 C 5.947236061096191 -0.03412871435284615 6.3414626121521 0.04551822319626808 6.681772708892822 0.2404500842094421 C 7.022083759307861 0.4353819489479065 7.29022741317749 0.7351464033126831 7.446176052093506 1.094998121261597 L 9.851353645324707 6.456374168395996 L 9.851353645324707 6.470007419586182 C 9.969320297241211 6.745468139648438 10.01735496520996 7.045823574066162 9.991196632385254 7.344342708587646 C 9.965029716491699 7.642861843109131 9.865477561950684 7.930274486541748 9.701384544372559 8.181013107299805 C 9.680934906005859 8.211688041687012 9.659347534179688 8.240090370178223 9.636626243591309 8.26849365234375 L 7.275757312774658 11.07586002349854 C 8.126714706420898 12.80504322052002 9.935427665710449 14.60012054443359 11.68733215332031 15.45107936859131 L 14.44925308227539 13.09361934661865 C 14.47641086578369 13.07078742980957 14.50485992431641 13.04954719543457 14.53446292877197 13.02999591827393 C 14.78588390350342 12.8623046875 15.07513999938965 12.75994396209717 15.37606906890869 12.73217678070068 C 15.67699718475342 12.70440101623535 15.98010540008545 12.75209999084473 16.25796508789062 12.87093830108643 L 16.27273559570312 12.8777551651001 L 21.62502288818359 15.27611637115479 Z">
                                    </path>
                                </svg>
                            </div>
                            <div id="Frame_dw">
                                <svg class="Frame_dx">
                                    <rect id="Frame_dx" rx="0" ry="0" x="0" y="0" width="29" height="29">
                                    </rect>
                                </svg>
                                <svg class="Vector_dy" viewBox="0 0 22.722 22.722">
                                    <path id="Vector_dy"
                                        d="M 13.89936828613281 8.822922706604004 C 13.81485843658447 8.738513946533203 13.74781799316406 8.638270378112793 13.70208263397217 8.52793025970459 C 13.65634632110596 8.41758918762207 13.63279628753662 8.299323081970215 13.63279628753662 8.179875373840332 C 13.63279628753662 8.060427665710449 13.65633678436279 7.942161560058594 13.70208263397217 7.831821441650391 C 13.74781799316406 7.721480846405029 13.81485843658447 7.621237754821777 13.89936828613281 7.536828517913818 L 17.80195808410645 3.63537335395813 L 15.45131492614746 3.63537335395813 C 15.21025562286377 3.63537335395813 14.97907829284668 3.539611577987671 14.80862331390381 3.369165420532227 C 14.63816738128662 3.198710203170776 14.54241466522217 2.967531442642212 14.54241466522217 2.726473093032837 C 14.54241466522217 2.485414505004883 14.63817691802979 2.254235744476318 14.80862331390381 2.083780527114868 C 14.97907829284668 1.913325309753418 15.2102575302124 1.817572593688965 15.45131492614746 1.817572593688965 L 19.99581718444824 1.817572593688965 C 20.23687553405762 1.817572593688965 20.46805381774902 1.913334369659424 20.63850975036621 2.083780527114868 C 20.80896377563477 2.254235744476318 20.90471649169922 2.485414505004883 20.90471649169922 2.726473093032837 L 20.90471649169922 7.270975112915039 C 20.90471649169922 7.512033939361572 20.80895614624023 7.743212223052979 20.63850975036621 7.913667678833008 C 20.46805381774902 8.084122657775879 20.23687362670898 8.179874420166016 19.99581718444824 8.179874420166016 C 19.75475883483887 8.179874420166016 19.52358055114746 8.084113121032715 19.35312461853027 7.913667678833008 C 19.18267059326172 7.743212223052979 19.08691596984863 7.512033939361572 19.08691596984863 7.270975112915039 L 19.08691596984863 4.920331478118896 L 15.18546199798584 8.822921752929688 C 15.10105228424072 8.907431602478027 15.00081062316895 8.974462509155273 14.89046955108643 9.020208358764648 C 14.78012847900391 9.065943717956543 14.66186237335205 9.089493751525879 14.54241466522217 9.089493751525879 C 14.42296695709229 9.089493751525879 14.30470085144043 9.065953254699707 14.19435977935791 9.020208358764648 C 14.08401966094971 8.974472045898438 13.98377704620361 8.907431602478027 13.8993673324585 8.822921752929688 Z M 21.62843132019043 15.27611541748047 C 21.98807334899902 15.4322452545166 22.2875919342041 15.70046329498291 22.48231506347656 16.04076385498047 C 22.67703819274902 16.38105583190918 22.75651168823242 16.77519226074219 22.70888710021973 17.16435432434082 C 22.50631141662598 18.70384216308594 21.75025939941406 20.11694526672363 20.58195114135742 21.13973236083984 C 19.41364097595215 22.16252517700195 17.91297340393066 22.72506332397461 16.3602180480957 22.72228240966797 C 7.339380741119385 22.72228240966797 1.04153405118268e-05 15.38291263580322 1.04153405118268e-05 6.362075805664062 C -0.002770819934085011 4.809319496154785 0.5597657561302185 3.308652400970459 1.582560539245605 2.140342712402344 C 2.605355024337769 0.9720331430435181 4.018458843231201 0.2159826010465622 5.557936191558838 0.01340677496045828 C 5.947236061096191 -0.03412871435284615 6.3414626121521 0.04551822319626808 6.681772708892822 0.2404500842094421 C 7.022083759307861 0.4353819489479065 7.29022741317749 0.7351464033126831 7.446176052093506 1.094998121261597 L 9.851353645324707 6.456374168395996 L 9.851353645324707 6.470007419586182 C 9.969320297241211 6.745468139648438 10.01735496520996 7.045823574066162 9.991196632385254 7.344342708587646 C 9.965029716491699 7.642861843109131 9.865477561950684 7.930274486541748 9.701384544372559 8.181013107299805 C 9.680934906005859 8.211688041687012 9.659347534179688 8.240090370178223 9.636626243591309 8.26849365234375 L 7.275757312774658 11.07586002349854 C 8.126714706420898 12.80504322052002 9.935427665710449 14.60012054443359 11.68733215332031 15.45107936859131 L 14.44925308227539 13.09361934661865 C 14.47641086578369 13.07078742980957 14.50485992431641 13.04954719543457 14.53446292877197 13.02999591827393 C 14.78588390350342 12.8623046875 15.07513999938965 12.75994396209717 15.37606906890869 12.73217678070068 C 15.67699718475342 12.70440101623535 15.98010540008545 12.75209999084473 16.25796508789062 12.87093830108643 L 16.27273559570312 12.8777551651001 L 21.62502288818359 15.27611637115479 Z">
                                    </path>
                                </svg>
                            </div>
                            <div id="aoppelsortant">
                                <svg class="Trac_42" viewBox="11.35 10.086 27.023 27">
                                    <path id="Trac_42"
                                        d="M 31.72449684143066 37.08436584472656 C 29.94323539733887 37.02031707763672 28.1976318359375 36.56681442260742 26.61044120788574 35.75575256347656 C 21.23305320739746 33.19711303710938 16.72451972961426 29.11698532104492 13.64345741271973 24.02089691162109 C 12.06247615814209 21.39334487915039 11.33507823944092 19.15177536010742 11.34992122650146 16.97700119018555 C 11.34992122650146 14.00802707672119 12.99028015136719 11.37306499481201 15.3803014755249 10.3858814239502 C 16.03071022033691 10.07795238494873 16.76762390136719 10.00452423095703 17.46600532531738 10.178053855896 C 17.93783950805664 10.33556175231934 18.37234687805176 10.58818244934082 18.74266242980957 10.92029571533203 C 19.86344909667969 11.82583332061768 20.96939277648926 12.80559349060059 21.97884368896484 13.81504344940186 C 22.64438438415527 14.3819408416748 23.13588714599609 15.12562942504883 23.39652824401855 15.96012687683105 C 23.93836402893066 18.18685531616211 21.91204071044922 19.87174987792969 20.91001319885254 20.67337036132812 L 20.82836723327637 20.74017333984375 C 22.24126434326172 22.77714157104492 23.96433258056641 24.58035278320312 25.93500518798828 26.08432769775391 L 26.38034629821777 26.44802093505859 C 26.84053802490234 26.81914520263672 27.53082275390625 27.39067077636719 27.82771873474121 27.27191162109375 C 28.21645545959473 27.07486343383789 28.57612609863281 26.82509231567383 28.89654922485352 26.52967071533203 C 29.44516181945801 26.05279922485352 30.06662368774414 25.66689300537109 30.73731231689453 25.38661193847656 C 31.13686752319336 25.21459579467773 31.57392311096191 25.14814376831055 32.00654602050781 25.19363403320312 C 32.44802474975586 25.27273941040039 32.86341094970703 25.45877075195312 33.21640014648438 25.73546981811523 C 34.74867248535156 26.82159042358398 36.18184280395508 28.0411491394043 37.49914169311523 29.3798828125 C 37.93572616577148 29.77135467529297 38.23713684082031 30.29102325439453 38.36014175415039 30.86436462402344 C 38.41677093505859 31.447265625 38.28402709960938 32.03289794921875 37.98160552978516 32.53441619873047 C 37.39852905273438 33.8870964050293 36.4940185546875 35.07697677612305 35.34664154052734 36.00068664550781 C 34.28401184082031 36.73539733886719 33.01602554321289 37.11475372314453 31.72449684143066 37.08436584472656 Z M 16.75345230102539 12.30829048156738 C 16.57135963439941 12.31644058227539 16.39249610900879 12.35926628112793 16.22646141052246 12.43447017669678 C 14.68259334564209 13.08022212982178 13.58407402038574 14.95067501068115 13.56922912597656 16.99184417724609 C 13.56922912597656 18.74353790283203 14.1852912902832 20.61399078369141 15.54359531402588 22.87783432006836 C 18.39790344238281 27.60655212402344 22.57580947875977 31.39479446411133 27.56052017211914 33.77396392822266 C 31.27172660827637 35.53307723999023 33.22382354736328 34.79825973510742 34.05513381958008 34.20446395874023 C 34.89443206787109 33.48244476318359 35.55068969726562 32.57182693481445 35.97012710571289 31.54723358154297 C 36.02658081054688 31.44167327880859 36.07616806030273 31.33258438110352 36.11857604980469 31.22064590454102 C 36.04801177978516 31.12428283691406 35.96848297119141 31.03481292724609 35.88105773925781 30.95343780517578 C 34.65209579467773 29.7064323425293 33.31033706665039 28.57587432861328 31.87294769287109 27.57623672485352 L 31.6502742767334 27.42778396606445 C 31.58158493041992 27.44393539428711 31.51450538635254 27.46629333496094 31.44986534118652 27.49458312988281 C 31.00104522705078 27.69394302368164 30.58745956420898 27.96465682983398 30.22516441345215 28.29620742797852 C 29.73554420471191 28.72185134887695 29.18517875671387 29.07208251953125 28.59222984313965 29.33535003662109 C 28.30240058898926 29.45357894897461 27.99228286743164 29.51408767700195 27.67926597595215 29.51348876953125 C 26.62930870056152 29.39227676391602 25.65238952636719 28.91560363769531 24.91070175170898 28.1626091003418 C 24.76967620849609 28.05126953125 24.64349555969238 27.93993759155273 24.51731300354004 27.85086822509766 C 22.36383247375488 26.19426727294922 20.48297882080078 24.21072769165039 18.94307518005371 21.97230529785156 C 18.68387222290039 21.62004470825195 18.53414344787598 21.19925689697266 18.51256942749023 20.7624397277832 C 18.53572845458984 20.02848052978516 18.9045295715332 19.34868240356445 19.50717353820801 18.92909622192383 C 21.22917938232422 17.51883697509766 21.33309173583984 16.87308502197266 21.23660278320312 16.46485137939453 C 21.05540084838867 16.04121971130371 20.77544975280762 15.66709995269775 20.42013359069824 15.37375640869141 C 19.44037246704102 14.40883922576904 18.4012336730957 13.48103523254395 17.3398265838623 12.61261081695557 C 17.19343566894531 12.48030948638916 17.02837371826172 12.37026882171631 16.84994697570801 12.28602313995361 L 16.75345230102539 12.30829048156738 Z M 31.6502742767334 27.41293716430664 Z M 20.73929786682129 20.56203460693359 Z">
                                    </path>
                                </svg>
                                <svg class="Trac_43" viewBox="35.18 12.72 10.473 9.857">
                                    <path id="Trac_43"
                                        d="M 37.62197875976562 12.74226760864258 L 37.62940216064453 14.08572769165039 L 43.23333740234375 14.0634593963623 L 35.18000030517578 21.60465049743652 L 36.09295654296875 22.57698822021484 L 44.15371704101562 15.04322242736816 L 43.76033020019531 20.63973426818848 L 45.09636688232422 20.73622512817383 L 45.65305328369141 12.72000122070312 L 37.62197875976562 12.74226760864258 Z">
                                    </path>
                                </svg>
                            </div>
                        </div>
                        
                        <div class="grid-stat">
                            <label class="stat-dash" id="total_outbound_call">10</label>
                            <label for="">Locataires</label>
                        </div>
                    </div>

                    <div class="button-grid">
                        <button onclick="see_outbound_dashboard()">VOIR PLUS</button>
                    </div>
                </div>

                <div class="grid-col">
                    <div class="content-grid">
                        <div id="Group_427319782_ez">
                            <svg class="Ellipse_1936_e">
                                <ellipse id="Ellipse_1936_e" rx="27" ry="27.5" cx="27" cy="27.5">
                                </ellipse>
                            </svg>
                            <div id="Frame_fb">
                                <svg class="Frame_fc">
                                    <rect id="Frame_fc" rx="0" ry="0" x="0" y="0" width="30" height="29">
                                    </rect>
                                </svg>
                                <svg class="Vector_e" viewBox="0 0 22.722 22.722">
                                    <path id="Vector_e"
                                        d="M 22.70888519287109 17.16435623168945 C 22.50630950927734 18.70384407043457 21.75025939941406 20.11694717407227 20.58194923400879 21.13973236083984 C 19.41363906860352 22.16252517700195 17.91297340393066 22.72506332397461 16.36021614074707 22.72228240966797 C 7.339378833770752 22.72228240966797 8.507991879014298e-06 15.38291263580322 8.507991879014298e-06 6.362075805664062 C -0.002772727282717824 4.809319496154785 0.5597638487815857 3.308652400970459 1.582558631896973 2.140342712402344 C 2.605353116989136 0.9720331430435181 4.018456935882568 0.2159826010465622 5.557934284210205 0.01340677496045828 C 5.947234630584717 -0.03412871435284615 6.341461181640625 0.04551822319626808 6.681771278381348 0.2404500842094421 C 7.022081851959229 0.4353819489479065 7.290225505828857 0.7351464033126831 7.446174144744873 1.094998121261597 L 9.845671653747559 6.45182991027832 L 9.845671653747559 6.465463638305664 C 9.965065002441406 6.740923881530762 10.01437282562256 7.041660785675049 9.98919677734375 7.34082555770874 C 9.964019775390625 7.639990329742432 9.865140914916992 7.928256511688232 9.701383590698242 8.179876327514648 C 9.680933952331543 8.210551261901855 9.659347534179688 8.238954544067383 9.636625289916992 8.26735782623291 L 7.271211624145508 11.07131576538086 C 8.122169494628906 12.80049800872803 9.930881500244141 14.59330463409424 11.68278694152832 15.44653415679932 L 14.44811630249023 13.09361839294434 C 14.47527408599854 13.07078647613525 14.50372314453125 13.04954624176025 14.5333251953125 13.02999496459961 C 14.78474617004395 12.86230373382568 15.07400321960449 12.75994300842285 15.37493133544922 12.73217582702637 C 15.67586040496826 12.70440006256104 15.97896766662598 12.75209903717041 16.25682830810547 12.87093734741211 L 16.27159690856934 12.87775421142578 L 21.6238842010498 15.27611541748047 C 21.98437309265137 15.43150043487549 22.28487396240234 15.69940757751465 22.48044204711914 16.03977394104004 C 22.67601776123047 16.3801383972168 22.75615692138672 16.7746639251709 22.70888519287109 17.16435623168945 Z M 13.89972305297852 8.822559356689453 C 13.72926712036133 8.652104377746582 13.63351535797119 8.420926094055176 13.63351535797119 8.179866790771484 L 13.63351535797119 3.635365009307861 C 13.63351535797119 3.394306659698486 13.72927665710449 3.163127899169922 13.89972305297852 2.992672681808472 C 14.07017803192139 2.822217464447021 14.30135631561279 2.726464748382568 14.54241466522217 2.726464748382568 C 14.78347396850586 2.726464748382568 15.01465129852295 2.822226524353027 15.18510723114014 2.992672681808472 C 15.35556221008301 3.163127899169922 15.45131492614746 3.394306659698486 15.45131492614746 3.635365009307861 L 15.45131492614746 5.986009120941162 L 19.35276985168457 2.083418130874634 C 19.5233154296875 1.912872195243835 19.75463104248047 1.817055821418762 19.99581718444824 1.817055821418762 C 20.23700332641602 1.817055821418762 20.46831703186035 1.912872195243835 20.63886451721191 2.083418130874634 C 20.80941009521484 2.253964185714722 20.90522766113281 2.485279560089111 20.90522766113281 2.726465225219727 C 20.90522766113281 2.967650890350342 20.80941200256348 3.198966264724731 20.63886451721191 3.36951208114624 L 16.7374095916748 7.270967483520508 L 19.08691787719727 7.270967483520508 C 19.32797813415527 7.270967483520508 19.55915451049805 7.366728782653809 19.72961044311523 7.537175178527832 C 19.90006637573242 7.707630634307861 19.99581909179688 7.938808917999268 19.99581909179688 8.179867744445801 C 19.99581909179688 8.420926094055176 19.90005683898926 8.652105331420898 19.72961044311523 8.82256031036377 C 19.55915451049805 8.993016242980957 19.32797622680664 9.088768005371094 19.08691787719727 9.088768005371094 L 14.5424165725708 9.088768005371094 C 14.30135822296143 9.088768005371094 14.0701789855957 8.993006706237793 13.89972400665283 8.82256031036377 Z">
                                    </path>
                                </svg>
                            </div>
                            <div id="Frame_fb">
                                <svg class="Frame_fc">
                                    <rect id="Frame_fc" rx="0" ry="0" x="0" y="0" width="30" height="29">
                                    </rect>
                                </svg>
                                <svg class="Vector_fa" viewBox="0 0 22.722 22.722">
                                    <path id="Vector_fa"
                                        d="M 13.89936828613281 8.822922706604004 C 13.81485843658447 8.738513946533203 13.74781799316406 8.638270378112793 13.70208263397217 8.52793025970459 C 13.65634632110596 8.41758918762207 13.63279628753662 8.299323081970215 13.63279628753662 8.179875373840332 C 13.63279628753662 8.060427665710449 13.65633678436279 7.942161560058594 13.70208263397217 7.831821441650391 C 13.74781799316406 7.721480846405029 13.81485843658447 7.621237754821777 13.89936828613281 7.536828517913818 L 17.80195808410645 3.63537335395813 L 15.45131492614746 3.63537335395813 C 15.21025562286377 3.63537335395813 14.97907829284668 3.539611577987671 14.80862331390381 3.369165420532227 C 14.63816738128662 3.198710203170776 14.54241466522217 2.967531442642212 14.54241466522217 2.726473093032837 C 14.54241466522217 2.485414505004883 14.63817691802979 2.254235744476318 14.80862331390381 2.083780527114868 C 14.97907829284668 1.913325309753418 15.2102575302124 1.817572593688965 15.45131492614746 1.817572593688965 L 19.99581718444824 1.817572593688965 C 20.23687553405762 1.817572593688965 20.46805381774902 1.913334369659424 20.63850975036621 2.083780527114868 C 20.80896377563477 2.254235744476318 20.90471649169922 2.485414505004883 20.90471649169922 2.726473093032837 L 20.90471649169922 7.270975112915039 C 20.90471649169922 7.512033939361572 20.80895614624023 7.743212223052979 20.63850975036621 7.913667678833008 C 20.46805381774902 8.084122657775879 20.23687362670898 8.179874420166016 19.99581718444824 8.179874420166016 C 19.75475883483887 8.179874420166016 19.52358055114746 8.084113121032715 19.35312461853027 7.913667678833008 C 19.18267059326172 7.743212223052979 19.08691596984863 7.512033939361572 19.08691596984863 7.270975112915039 L 19.08691596984863 4.920331478118896 L 15.18546199798584 8.822921752929688 C 15.10105228424072 8.907431602478027 15.00081062316895 8.974462509155273 14.89046955108643 9.020208358764648 C 14.78012847900391 9.065943717956543 14.66186237335205 9.089493751525879 14.54241466522217 9.089493751525879 C 14.42296695709229 9.089493751525879 14.30470085144043 9.065953254699707 14.19435977935791 9.020208358764648 C 14.08401966094971 8.974472045898438 13.98377704620361 8.907431602478027 13.8993673324585 8.822921752929688 Z M 21.62843132019043 15.27611541748047 C 21.98807334899902 15.4322452545166 22.2875919342041 15.70046329498291 22.48231506347656 16.04076385498047 C 22.67703819274902 16.38105583190918 22.75651168823242 16.77519226074219 22.70888710021973 17.16435432434082 C 22.50631141662598 18.70384216308594 21.75025939941406 20.11694526672363 20.58195114135742 21.13973236083984 C 19.41364097595215 22.16252517700195 17.91297340393066 22.72506332397461 16.3602180480957 22.72228240966797 C 7.339380741119385 22.72228240966797 1.04153405118268e-05 15.38291263580322 1.04153405118268e-05 6.362075805664062 C -0.002770819934085011 4.809319496154785 0.5597657561302185 3.308652400970459 1.582560539245605 2.140342712402344 C 2.605355024337769 0.9720331430435181 4.018458843231201 0.2159826010465622 5.557936191558838 0.01340677496045828 C 5.947236061096191 -0.03412871435284615 6.3414626121521 0.04551822319626808 6.681772708892822 0.2404500842094421 C 7.022083759307861 0.4353819489479065 7.29022741317749 0.7351464033126831 7.446176052093506 1.094998121261597 L 9.851353645324707 6.456374168395996 L 9.851353645324707 6.470007419586182 C 9.969320297241211 6.745468139648438 10.01735496520996 7.045823574066162 9.991196632385254 7.344342708587646 C 9.965029716491699 7.642861843109131 9.865477561950684 7.930274486541748 9.701384544372559 8.181013107299805 C 9.680934906005859 8.211688041687012 9.659347534179688 8.240090370178223 9.636626243591309 8.26849365234375 L 7.275757312774658 11.07586002349854 C 8.126714706420898 12.80504322052002 9.935427665710449 14.60012054443359 11.68733215332031 15.45107936859131 L 14.44925308227539 13.09361934661865 C 14.47641086578369 13.07078742980957 14.50485992431641 13.04954719543457 14.53446292877197 13.02999591827393 C 14.78588390350342 12.8623046875 15.07513999938965 12.75994396209717 15.37606906890869 12.73217678070068 C 15.67699718475342 12.70440101623535 15.98010540008545 12.75209999084473 16.25796508789062 12.87093830108643 L 16.27273559570312 12.8777551651001 L 21.62502288818359 15.27611637115479 Z">
                                    </path>
                                </svg>
                            </div>
                            <div id="appelmaque">
                                <svg class="Trac_44" viewBox="11.47 9.936 28.4 28.393">
                                    <path id="Trac_44"
                                        d="M 32.9085693359375 38.32617950439453 C 31.02483749389648 38.26654052734375 29.17746353149414 37.79203414916992 27.49816513061523 36.93649291992188 C 21.85320281982422 34.23760223388672 17.12045669555664 29.94720077514648 13.88236713409424 24.59328269958496 C 12.21942806243896 21.82171058654785 11.45431995391846 19.47173690795898 11.46993446350098 17.1842212677002 C 11.46993446350098 14.06133079528809 13.20313835144043 11.28196144104004 15.70925617218018 10.24359893798828 C 16.39809417724609 9.926063537597656 17.17431640625 9.851744651794434 17.91089248657227 10.03280448913574 C 18.40351867675781 10.2014045715332 18.85743713378906 10.46685409545898 19.24592971801758 10.81352615356445 C 20.42481994628906 11.7738151550293 21.58809661865234 12.80436897277832 22.65768432617188 13.86614990234375 C 23.35576248168945 14.46736717224121 23.87219619750977 15.25147819519043 24.14886474609375 16.13024520874023 C 24.71878814697266 18.472412109375 22.58741760253906 20.23684501647949 21.53344345092773 21.08783149719238 L 21.44756317138672 21.1580982208252 C 22.92488479614258 23.29554176330566 24.72659301757812 25.1894416809082 26.78771209716797 26.77149391174316 L 27.25613784790039 27.14623641967773 C 27.73237991333008 27.54440498352051 28.45845031738281 28.14556121826172 28.77854537963867 28.01283836364746 C 29.18667984008789 27.80431365966797 29.5648307800293 27.54170608520508 29.90278244018555 27.23211479187012 C 30.47659301757812 26.7280330657959 31.12768936157227 26.31945037841797 31.83116912841797 26.02199745178223 C 32.70203018188477 25.63021469116211 33.72078323364258 25.77618408203125 34.44659042358398 26.39674758911133 C 36.06261825561523 27.55391120910645 37.57038879394531 28.85523796081543 38.95136260986328 30.28474426269531 C 39.40932846069336 30.69752883911133 39.72610473632812 31.24370002746582 39.85699462890625 31.8461856842041 C 39.91428756713867 32.4566764831543 39.77476119995117 33.06948852539062 39.45882415771484 33.59500503540039 C 38.84819412231445 34.9998779296875 37.90825653076172 36.23705673217773 36.71849060058594 37.20193862915039 C 35.59891128540039 37.96921157836914 34.26534271240234 38.36272430419922 32.9085693359375 38.32617950439453 Z M 17.15359115600586 12.26567077636719 C 16.96440124511719 12.2789363861084 16.77920913696289 12.3265552520752 16.60708618164062 12.40620040893555 C 14.97537612915039 13.07762145996094 13.82771492004395 15.05284881591797 13.81210041046143 17.1998348236084 C 13.81210041046143 19.0423412322998 14.4601001739502 21.001953125 15.88882160186768 23.38315582275391 C 18.89250183105469 28.35011291503906 23.28724670410156 32.32682800292969 28.52872085571289 34.82073593139648 C 32.43232727050781 36.66324234008789 34.48562622070312 35.89813232421875 35.35222625732422 35.27355575561523 C 36.23312759399414 34.52626419067383 36.92581939697266 33.58217239379883 37.37429809570312 32.51760864257812 C 37.37429428100586 32.44734573364258 37.49921035766602 32.26777648925781 37.53044128417969 32.16628265380859 C 37.45208740234375 32.06833267211914 37.36869812011719 31.97452354431152 37.28060913085938 31.88522338867188 C 35.99410629272461 30.57672309875488 34.59368896484375 29.38532447814941 33.09593963623047 28.32513236999512 C 33.04909515380859 28.32512855529785 32.92417907714844 28.2080192565918 32.86172485351562 28.17679405212402 L 32.64312362670898 28.2392520904541 C 32.17609024047852 28.4581184387207 31.74238967895508 28.74199676513672 31.35493087768555 29.08243370056152 C 30.84226226806641 29.53531074523926 30.2629508972168 29.90659713745117 29.6373405456543 30.18325233459473 C 29.33497619628906 30.30681037902832 29.0114860534668 30.37044906616211 28.68485260009766 30.37063026428223 C 27.4981575012207 30.37062644958496 26.49102783203125 29.53525352478027 25.77276229858398 28.9497127532959 L 25.35898208618164 28.6140022277832 C 23.09517669677734 26.88828468322754 21.11663436889648 24.81752967834473 19.49576187133789 22.47751617431641 C 19.20915603637695 22.11153411865234 19.03794097900391 21.66854476928711 19.00390625 21.20494079589844 C 19.0318603515625 20.4423828125 19.42008972167969 19.73835754394531 20.05007171630859 19.30778503417969 C 21.86134719848633 17.82441329956055 21.97845458984375 17.14518547058105 21.86915588378906 16.71578788757324 C 21.69243240356445 16.25353050231934 21.39929962158203 15.84476280212402 21.01816940307617 15.52909088134766 C 19.98761367797852 14.51415061950684 18.89460372924805 13.53824806213379 17.77036285400391 12.62480354309082 C 17.61979484558105 12.48498916625977 17.44864273071289 12.36913108825684 17.26289558410645 12.28128433227539 L 17.15359115600586 12.26567077636719 Z M 32.83049774169922 28.16117477416992 Z M 21.31484222412109 20.95510864257812 Z">
                                    </path>
                                </svg>
                                <svg class="Trac_45" viewBox="31.1 17.75 7.073 6.886">
                                    <path id="Trac_45"
                                        d="M 34.62105560302734 20.02190208435059 L 35.26905822753906 18.78055381774902 L 35.90144348144531 17.75 L 37.99378204345703 17.75 L 37.99378204345703 17.85930061340332 L 35.83118057250977 21.16956329345703 L 38.17334747314453 24.55789756774902 L 38.17334747314453 24.6359691619873 L 36.02635955810547 24.6359691619873 L 35.38616561889648 23.6834888458252 L 34.60544586181641 22.40310478210449 L 33.82472229003906 23.69910430908203 L 33.19233703613281 24.63597106933594 L 31.10000038146973 24.63597106933594 L 31.10000038146973 24.55789947509766 L 33.44216537475586 21.16956329345703 L 31.27956581115723 17.85930252075195 L 31.27956581115723 17.75000190734863 L 33.36409759521484 17.75000190734863 L 34.00428771972656 18.80397605895996 L 34.62105560302734 20.02190208435059 Z">
                                    </path>
                                </svg>
                            </div>
                        </div>
                        <div class="grid-stat">
                            <label class="stat-dash" id="total_mixed_call">2</label>
                            <label for="">Biens Louer</label>
                        </div>
                    </div>
                    <div class="button-grid">
                        <button onclick="see_missed_dashboard()">VOIR PLUS</button>
                    </div>
                </div>

                <div class="grid-col">
                    <div class="content-grid">
                        <div id="Group_427319782_da">
                            <svg class="Ellipse_1936_db">
                                <ellipse id="Ellipse_1936_db" rx="27.5" ry="27.5" cx="27.5" cy="27.5">
                                </ellipse>
                            </svg>
                            <div id="Frame_dc">
                                <svg class="Frame_dd">
                                    <rect id="Frame_dd" rx="0" ry="0" x="0" y="0" width="29" height="29">
                                    </rect>
                                </svg>
                                <svg class="Vector_de" viewBox="0 0 22.722 22.722">
                                    <path id="Vector_de"
                                        d="M 22.70888519287109 17.16435623168945 C 22.50630950927734 18.70384407043457 21.75025939941406 20.11694717407227 20.58194923400879 21.13973236083984 C 19.41363906860352 22.16252517700195 17.91297340393066 22.72506332397461 16.36021614074707 22.72228240966797 C 7.339378833770752 22.72228240966797 8.507991879014298e-06 15.38291263580322 8.507991879014298e-06 6.362075805664062 C -0.002772727282717824 4.809319496154785 0.5597638487815857 3.308652400970459 1.582558631896973 2.140342712402344 C 2.605353116989136 0.9720331430435181 4.018456935882568 0.2159826010465622 5.557934284210205 0.01340677496045828 C 5.947234630584717 -0.03412871435284615 6.341461181640625 0.04551822319626808 6.681771278381348 0.2404500842094421 C 7.022081851959229 0.4353819489479065 7.290225505828857 0.7351464033126831 7.446174144744873 1.094998121261597 L 9.845671653747559 6.45182991027832 L 9.845671653747559 6.465463638305664 C 9.965065002441406 6.740923881530762 10.01437282562256 7.041660785675049 9.98919677734375 7.34082555770874 C 9.964019775390625 7.639990329742432 9.865140914916992 7.928256511688232 9.701383590698242 8.179876327514648 C 9.680933952331543 8.210551261901855 9.659347534179688 8.238954544067383 9.636625289916992 8.26735782623291 L 7.271211624145508 11.07131576538086 C 8.122169494628906 12.80049800872803 9.930881500244141 14.59330463409424 11.68278694152832 15.44653415679932 L 14.44811630249023 13.09361839294434 C 14.47527408599854 13.07078647613525 14.50372314453125 13.04954624176025 14.5333251953125 13.02999496459961 C 14.78474617004395 12.86230373382568 15.07400321960449 12.75994300842285 15.37493133544922 12.73217582702637 C 15.67586040496826 12.70440006256104 15.97896766662598 12.75209903717041 16.25682830810547 12.87093734741211 L 16.27159690856934 12.87775421142578 L 21.6238842010498 15.27611541748047 C 21.98437309265137 15.43150043487549 22.28487396240234 15.69940757751465 22.48044204711914 16.03977394104004 C 22.67601776123047 16.3801383972168 22.75615692138672 16.7746639251709 22.70888519287109 17.16435623168945 Z M 13.89972305297852 8.822559356689453 C 13.72926712036133 8.652104377746582 13.63351535797119 8.420926094055176 13.63351535797119 8.179866790771484 L 13.63351535797119 3.635365009307861 C 13.63351535797119 3.394306659698486 13.72927665710449 3.163127899169922 13.89972305297852 2.992672681808472 C 14.07017803192139 2.822217464447021 14.30135631561279 2.726464748382568 14.54241466522217 2.726464748382568 C 14.78347396850586 2.726464748382568 15.01465129852295 2.822226524353027 15.18510723114014 2.992672681808472 C 15.35556221008301 3.163127899169922 15.45131492614746 3.394306659698486 15.45131492614746 3.635365009307861 L 15.45131492614746 5.986009120941162 L 19.35276985168457 2.083418130874634 C 19.5233154296875 1.912872195243835 19.75463104248047 1.817055821418762 19.99581718444824 1.817055821418762 C 20.23700332641602 1.817055821418762 20.46831703186035 1.912872195243835 20.63886451721191 2.083418130874634 C 20.80941009521484 2.253964185714722 20.90522766113281 2.485279560089111 20.90522766113281 2.726465225219727 C 20.90522766113281 2.967650890350342 20.80941200256348 3.198966264724731 20.63886451721191 3.36951208114624 L 16.7374095916748 7.270967483520508 L 19.08691787719727 7.270967483520508 C 19.32797813415527 7.270967483520508 19.55915451049805 7.366728782653809 19.72961044311523 7.537175178527832 C 19.90006637573242 7.707630634307861 19.99581909179688 7.938808917999268 19.99581909179688 8.179867744445801 C 19.99581909179688 8.420926094055176 19.90005683898926 8.652105331420898 19.72961044311523 8.82256031036377 C 19.55915451049805 8.993016242980957 19.32797622680664 9.088768005371094 19.08691787719727 9.088768005371094 L 14.5424165725708 9.088768005371094 C 14.30135822296143 9.088768005371094 14.0701789855957 8.993006706237793 13.89972400665283 8.82256031036377 Z">
                                    </path>
                                </svg>
                            </div>
                            <svg class="message" viewBox="11.404 17.81 36.596 21.19">
                                <path id="message"
                                    d="M 40.45999908447266 17.80999946594238 L 25.29999923706055 17.80999946594238 C 22.9246768951416 17.80682754516602 20.68522071838379 18.91730117797852 19.25 20.80999946594238 L 13.17000007629395 20.80999946594238 C 12.43518161773682 20.93039321899414 11.8957633972168 21.56538391113281 11.8957633972168 22.30999946594238 C 11.8957633972168 23.05461502075195 12.43518161773682 23.68960571289062 13.17000007629395 23.80999946594238 L 17.86999893188477 23.80999946594238 C 17.76914596557617 24.30697822570801 17.71889114379883 24.81289291381836 17.72000122070312 25.31999969482422 L 17.71999931335449 26.84000015258789 L 13.17000007629395 26.84000015258789 C 12.57564258575439 26.74261856079102 11.9798469543457 27.00535583496094 11.65092658996582 27.50988960266113 C 11.32200527191162 28.01442337036133 11.32200527191162 28.66557884216309 11.65092658996582 29.17011070251465 C 11.97984790802002 29.67464447021484 12.57564353942871 29.93738174438477 13.17000007629395 29.84000015258789 L 17.72000122070312 29.84000015258789 L 17.72000122070312 31.35000038146973 C 17.70980072021484 31.9038200378418 17.76009941101074 32.45709609985352 17.8700008392334 33 L 13.17000102996826 33 C 12.57564449310303 32.90261840820312 11.97984886169434 33.16535568237305 11.65092849731445 33.66989135742188 C 11.32200717926025 34.17442321777344 11.32200717926025 34.82557678222656 11.65092849731445 35.33011245727539 C 11.97984981536865 35.83464431762695 12.57564544677734 36.09738159179688 13.17000198364258 36 L 19.25 36 C 20.68214225769043 37.89641952514648 22.92358207702637 39.00787734985352 25.30000114440918 39 L 40.45999908447266 39 C 44.61674880981445 38.97267150878906 47.97817611694336 35.60678100585938 47.99999237060547 31.44999885559082 L 48 25.38999938964844 C 47.99459457397461 21.22150802612305 44.62840270996094 17.83745574951172 40.45999908447266 17.80999755859375 Z M 40.45999908447266 20.80999946594238 L 33.80999755859375 25.80999946594238 C 33.26928329467773 26.21005249023438 32.53071212768555 26.21005249023438 31.98999977111816 25.81000137329102 L 25.32999801635742 20.80999946594238 L 40.45999908447266 20.80999946594238 Z M 45 31.45000076293945 C 45 33.95900726318359 42.96897888183594 35.99449157714844 40.45998764038086 36 L 25.29999923706055 36 C 22.7871036529541 36 20.75 33.96289443969727 20.75 31.44999885559082 L 20.75 25.38999938964844 C 20.7490234375 24.19554328918457 21.21984481811523 23.04903984069824 22.05999946594238 22.20000076293945 L 30.14999961853027 28.26999855041504 C 31.77214622497559 29.47016143798828 33.98785781860352 29.47016143798828 35.61000061035156 28.26999855041504 L 43.69000244140625 22.19999885559082 C 44.5301513671875 23.04904174804688 45.00097274780273 24.19554328918457 44.99999618530273 25.38999938964844 L 45 31.45000076293945 Z">
                                </path>
                            </svg>
                        </div>
                        <div class="grid-stat">
                            <label class="stat-dash" id="total_send_sms">0</label>
                            <label for="">quittance de loyer</label>
                        </div>
                    </div>
                    <div class="button-grid" onclick="see_sent_sms_dashboard()">
                        <button>VOIR PLUS</button>
                    </div>
                </div>


                <div class="grid-col" role="button" onclick="export_dashboard()">
                    <div class="content-grid exp">
                        <div id="export">
                            <i class="fa-solid fa-download"></i>
                            <span>Export </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-5 right-dash"></div>
    </div>

</div>
