$primary-color: #080820;
$secondary-color: #25265e;

$grey-color: #f5f5f1;
$white-color: #fff;
$success-color: #24bf7a;
$danger-color: #ec363b;
$warning-color: #fab30e;
$purpleColor: #2f2fc2;
$purpleLightColor: #6565c9;
$greyG: #c0c9c6;
$blueColor: #3d63fe;
