:root{
    --primaryColor: #0366a2;
    --secondaryColor: #e67e23;;
    --bg-content : #f5f7f9;
    --navColor: #1f353f;

    --text-hover-color: #e2f0ff;
    --btn-hover-color: #09435f;

    --text-color: #09435f;
    --base-color: #09435f;
}