<div class="vg-section-pass">

    <div class="form-change-pass change-pass">
        <div class="form-input">
            <label for="">Tapez ici votre mot de passe actuelle</label>
            <input type="password" id="lastpwd" class="form-control form-sm-control" placeholder="Mot de pass actuelle">
        </div>
        <div class="form-input">
            <label for="">Entrez votre nouveau mot de passe</label>
            <input type="password" id="newspwd" class="form-control form-sm-control" placeholder="Nouveau mot de passe">
        </div>
        <div class="form-input">
            <label for="">Confirmez votre nouveau mot de passe</label>
            <input type="password" id="confrmpwd" class="form-control form-sm-control" placeholder="Confirmez le nouveau mot de passe">
        </div>
        <div class="action-setting">
            <button class="action-pass" onclick="reset_password()">CHANGER LE MOT DE PASSE</button>
        </div>
    </div>
    
</div>